<h1>Listing pollutants</h1>

<table>
  <thead>
    <tr>
      <th>Hour</th>
      <th>Station</th>
      <th>Pm10</th>
      <th>O3</th>
      <th>No2</th>
      <th>So2</th>
      <th>Co</th>
      <th>Pm25</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pollutants.each do |pollutant| %>
      <tr>
        <td><%= pollutant.hour %></td>
        <td><%= pollutant.station %></td>
        <td><%= pollutant.pm10 %></td>
        <td><%= pollutant.O3 %></td>
        <td><%= pollutant.nO2 %></td>
        <td><%= pollutant.sO2 %></td>
        <td><%= pollutant.CO %></td>
        <td><%= pollutant.pm25 %></td>
        <td><%= link_to 'Show', pollutant %></td>
        <td><%= link_to 'Edit', edit_pollutant_path(pollutant) %></td>
        <td><%= link_to 'Destroy', pollutant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pollutant', new_pollutant_path %>
