%h1 Listing pollutants
%table
  %thead
    %tr
      %th Hour
      %th Station
      %th Pm10
      %th O3
      %th No2
      %th So2
      %th Co
      %th Pm25
      %th
      %th
      %th
  %tbody
    - @pollutants.each do |pollutant|
      %tr
        %td= pollutant.hour
        %td= pollutant.station
        %td= pollutant.pm10
        %td= pollutant.O3
        %td= pollutant.nO2
        %td= pollutant.sO2
        %td= pollutant.CO
        %td= pollutant.pm25
        %td= link_to 'Show', pollutant
        %td= link_to 'Edit', edit_pollutant_path(pollutant)
        %td= link_to 'Destroy', pollutant, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Pollutant', new_pollutant_path
